.registerDesign{
    background-color: var(--pricol4);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerContainer{
    width: 60%;
    height: 60%;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 2px solid var(--pricol3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    background-color: #eca500;
}


.inputDesign{
    width: 40%;
    height: 2em;
    border-radius: 0.5em;
}

.buttonRegister{
    border: 1px solid black;
    padding: 0.5em 1em;
}