.loginDesign{
    width: 100%;
    height: 100vh;
    background-color: var(--pricol4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerLogin{
    width: 50%;
    height: 50%;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 2px solid var(--pricol3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

.h2Title{
    margin:-2em 0 1em 0;
}

.inputLogin{
    width: 40%;
    height: 7%;
    border-radius: 0.5em;
    border: 1px solid var(--pricol3);
}

a{
    text-decoration: none;
    color: var(--pricol3);
}

.buttonLogin{
    width: 40%;
    height: 10%;
    border: 1px solid var(--pricol3);
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--pricol3);
}