// https://coolors.co/eca400-351431-006992-c3f73a-e6e6e6
// https://coolors.co/d5573b-050505-006992-e8eddf-f5cb5c
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    font-family: 'Ubuntu', sans-serif
}
:root {
    --pricol1: #eca400;
    --pricol2: #351431;
    --pricol3:#006992 ;
    --pricol4: #c3f73a;
    --pricol5:#e6e6e6;
   
}